* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.userInput {
  display: block;
  width: 100%;
  min-height: 28px;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #838996;
  font-size: 13px;
  margin-top: 5px;
}

.userInput:focus {
  outline: none !important;
  border: 1px solid rgb(14 165 233);
  color: #838996;
  font-size: 13px;
}

.mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  margin-top: 72px;
  flex-direction: column;
}

/*
body {
  width: 100%;
  height: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
*/

.marginTop {
  margin-top: 30px;
}

.loginText {
  font-size: 16px;
  font-weight: 520;
}

.containerPassword {
  margin-top: 14px;
}

.container {
  height: 380px;
  width: 400px;
  padding-top: 30px;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: rgb(249 250 251);
}

.loginButton {
  font-size: 16px;
  margin-top: 40px;
  padding: 0.5em 2em;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: rgb(14 165 233);
  color: rgb(249 250 251);
  cursor: pointer;
  text-align: center;
}

.loginButton:hover {
  background-color: rgb(2 132 199);
}

.blueText {
  color: rgb(14 165 233);
}
.itemContainer {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.loginTitle {
  font-size: 24px;
  font-weight: 600px;
}

.iconImage {
  width: 120px;
  max-width: 120px;
}

.registerButton {
  margin-top: 30px;
}

.registerButton a {
  text-decoration: none;
}

.registerButton a:hover {
  text-decoration: underline;
  font-weight: bold;
}
