* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.mainContainer {
  height: 100vh;
  width: 100vw;
}

body {
  background: #0c192c;
}
.containerSearch {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBarContent {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.searchBtn {
  text-decoration: none;
  outline: none;
  color: black;
}

#searchBar {
  width: 100%;
}

.searchBarContent input {
  font-size: 20px;
  padding: 5px 40px 5px 10px;
  border-radius: 1em;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tableHeading {
  line-height: 2;
  color: #fff;
}

.searchBarContent input:focus {
  outline: none;
}

.containerSearch .material-symbols-outlined {
  position: absolute;
  right: 15px;
}

.tableHeadingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newContact button {
  border: none;
  outline: none;
  border-radius: 40px;
  width: 150px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.newContact {
  vertical-align: center;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.modalInput {
  border-radius: 40px;
  font-size: 14px;
  padding: 20px 45px 20px 20px;
  margin-top: 15px;
}

.roundedBtn {
  width: 30px;
  height: 30px;
  background: #0068ff;
  display: inline-flex;
  justify-content: center;
  color: black;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  color: #fff;
  border: none;
  text-decoration: none;
  transition: background 0.2s;
}

.roundedBtn:hover {
  background: #1700ff;
}

.table td,
tr {
  color: black;
}

table {
  background-color: white;
}

.tableContent {
  max-height: 400px;
  overflow-y: auto;
}

.deleteBtn {
  background-color: #ff090a;
}

.deleteBtn:hover {
  background-color: #b50001;
}

.saveBtn {
  background-color: #33a901;
}

.saveBtn:hover {
  background-color: #174c00;
}

.tableInput {
  outline: none;
  width: 100%;
  border: 2px solid black(255, 255, 255, 0.2);
  border-radius: 40px;
  padding: 10px 11.25px 10px 10px;
  font-size: 16px;
  color: black;
}
