* {
  box-sizing: border-box;
}

.pageContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 100px;
}

.formContainer {
  padding: 2em;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  border: 1px solid #dee2e6;
  height: 400px;
}
