* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.backgroundImage {
  background-image: url("/images/recordSignIn.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  color: black;
  text-align: center;
}

.wrapper h1 {
  font-size: 40px;
}

.input-box {
  margin: 15px 0;
  position: relative;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: white;
  border: 1px solid black;
  border-radius: 40px;
  font-size: 16px;
  color: black;
  padding: 20px 45px 20px 20px;
}

.wrapper .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background: black;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.register-link p a {
  color: blue;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}
