* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
/* Svg motion */
svg {
  height: auto;
  width: 100%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#label {
  fill: white;
}

#record {
  transform-origin: center center;
  animation: spin 4s linear infinite;
}

.line {
  stroke: white;
}

.mainContainer {
  display: flex;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.leftSide {
  flex: 1;
  background: #ff984c;
  display: flex;
}

.rightSide {
  flex: 1;
  z-index: -2;
  position: relative;

  display: flex;
  align-items: center;

  background-color: #48ebfa;
}

.leftSide .container {
  margin: 10px;
  border-radius: 10px;
  border: 10px solid white;
  color: white;
}

.title {
  text-align: center;
  margin-top: 100px;
}

.title h2 {
  font-size: 72px;
}

.spinningRecord {
  z-index: -1;
  position: absolute;
  aspect-ratio: 1 / 1;
  width: 100%;
  right: 300px;
}
